* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
:root {
    --color-madison: #2c3e50;
    --color-green-cyan: #1abc9c;
    --color-white: #fff;
    --color-green: green;
    --color-black: black;
    --color-cyan-blue: #1a252f;
}
/* nav */
nav {
    background-color: var(--color-madison);
    width: 100%;
    height: 100px;
    position: fixed;
}
nav .container {
    color: var(--color-white);
    margin: 0 auto;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .container h2,
nav .container ul {
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 20px;
}
nav .container h2 {
    font-size: 28px;
}
nav .container ul {
    font-size: 16px;    
}
nav button {
    display: none;
}
nav .container ul li {
    display: inline-block;
    margin: 0 10px;
    padding: 0 20px;
}

/* header */
header {
    background-color: var(--color-green-cyan);
    text-align: center;
    color: var(--color-white);
    padding: 150px 0;
}
header div h1 {
    text-transform: uppercase;
    font-size: 64px;
}
header div p {
    font-size: larger;
}
header div img {
    width: 15rem;
}
header div div .divider-custom-line {
    width: 100%;
    background-color: var(--color-white);
    height: 0.25rem;
    max-width: 10rem;
    display: inline-block;
    vertical-align: middle;
}
header div div img {
    width: 3.5rem;
    vertical-align: middle;
}

header .testing img::after {
    content: "";
    width: 100%;
    background-color: var(--color-white);
    height: 5px;
    display: inline-block;
}

main {
    width: 100%;
    margin: 0 auto;
}
main .container {
    width: 80%;
    margin: 70px auto;
    background-color: var(--color-white);

    text-align: center;
}
main .container h2 {
    font-size: 48px;
}
main .container .star-with-divider .divider-custom-line {
    width: 100%;
    background-color: var(--color-black);
    height: 0.25rem;
    max-width: 10rem;
    display: inline-block;
}
main .container .star-with-divider img {
    width: 3.5rem;
    vertical-align: middle;
}
main .container .images-flex {
    width: 100%;
}
main .container .images-flex img {
    padding: 30px 20px;
    border-radius: 2.5em;
    box-sizing: border-box;
    width: 33%;
    cursor: pointer;
}
main .about {
    text-align: center;
    background-color: var(--color-green-cyan);
    color: var(--color-white);
    padding: 100px 0;
}
main .about .title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 48px;
}
main .about .star-with-divider .divider-custom-line {
    width: 100%;
    background-color: var(--color-white);
    height: 0.25rem;
    max-width: 10rem;
    display: inline-block;
}
main .about .star-with-divider img {
    width: 3.5rem;
    vertical-align: middle;
}
main .about .content {
    margin: 10px auto;
    font-size: 20px;
    width: 40%;
    display: flex;
}
main .about .content p {
    text-align: left;
    padding: 0 20px;
}
main .about button {
    margin-top: 20px;
    border: 2px solid var(--color-white);
    width: 270px;
    height: 70px;
    background-color: var(--color-green-cyan);
    border-radius: 8px;
    color: var(--color-white);
    font-size: 20px;
}
main .contact-me {  
    margin: 70px auto;
    background-color: var(--color-white);
    text-align: center;
}

main .contact-me h2 {
    font-size: 48px;
}
main .contact-me .star-with-divider .divider-custom-line {
    width: 100%;
    background-color: var(--color-black);
    height: 0.25rem;
    max-width: 10rem;
    display: inline-block;
}
main .contact-me .star-with-divider img {
    width: 3.5rem;
    vertical-align: middle;
}
main .contact-me .form-detail {
    margin: 10px auto;
    text-align: left;
    width: 40%;
}
main .contact-me .form-detail form {
    padding: 0 20px;
}
main .contact-me form input {
    display: block;
    border: none;
    border-bottom: 1px solid var(--color-green-cyan);
    width: 100%;
    font-size: 30px;
}
main .contact-me form textarea {
    width: 100%;
    height: 200px;
    border: none;
    border-bottom: 1px solid var(--color-green-cyan);
}
main .contact-me button {
    margin-top: 30px;
    border: 2px solid var(--color-white);
    width: 120px;
    height: 80px;
    background-color: var(--color-green-cyan);
    border-radius: 8px;
    color: var(--color-white);
    font-size: 20px;
    cursor: pointer;
}

footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: var(--color-madison);
    color: var(--color-white);
}
footer .container {
    display: flex;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
    width: 70%;
    justify-content: space-between;
}
footer .container h4 {
    text-transform: uppercase;
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 15px;
}
footer .container p {
    font-size: 20px;
}
footer .container .icon img {
    width: 40px;
    border-radius: 100%;
    padding: 2px;
    background-color: var(--color-white);
    margin: 3px;
}
footer .container .about-freelancer {
    width: 25%;
}
.copyright {
    height: 100px;
    width: 100%;
    background-color: var(--color-cyan-blue);
    position: relative;
}
.copyright .container {
    color: var(--color-white);
    text-align: center;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: 20px;
}

/* Reponsive */
@media (max-width: 1367px) {
    nav .container {
        width: auto;
        height: 100%;
    }
    nav .container h2 {
        display: inline-block;
    }
    nav .container ul {
        display: none;
    }
    nav .container button {
        display: inline-block;
        margin-right: 20px;
        border-radius: 0.5rem;
        color: var(--color-white);
        background-color: var(--color-green);
        font-weight: 700;
        padding: 10px 20px;
        border: none;
        text-decoration: none;
    }
    header, main {
        width: 100%;
    }
    main .container .images-flex img {
        width: 45%;
    }
}
@media (max-width: 767px)  {
    nav .container h2 {
        font-size: 20px;
    }
    nav .container button {
        background-color: red;
    }
    main .container .images-flex img {
        width: 100%;
    }
}