* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-transform: uppercase;
    font-weight: bold;
}
:root {
    --color-madison: #2c3e50;
    --color-green-cyan: #1abc9c;
    --color-white: #fff;
    --color-green: green;
    --color-black: black;
    --color-light-blue: #e9ecef;
    --color-cyan-blue: #1a252f;
}
.star-with-divider .divider-custom-line-white {
    width: 5rem;
    background-color: var(--color-white);
    height: 0.25rem;
    max-width: 10rem;
    display: inline-block;
    vertical-align: middle;
}
.star-with-divider .start-custom-white {
    width: 2.5rem;
    vertical-align: middle;
}
.star-with-divider .divider-custom-line-dark {
    width: 5rem;
    background-color: var(--color-black);
    height: 0.25rem;
    max-width: 10rem;
    display: inline-block;
}
.star-with-divider .start-custom-dark {
    width: 2rem;
    vertical-align: middle;
}

/* nav */
nav {
    background-color: var(--color-madison);
    width: 100%;
    height: 100px;
    position: fixed;
}
nav .container {
    color: var(--color-white);
    margin: 0 auto;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .container h2,
nav .container ul {
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 20px;
    cursor: pointer;
}
nav .container ul {
    font-size: 16px;    
}
nav button {
    display: none;
}
nav .container ul li {
    display: inline-block;
    margin: 0 10px;
    padding: 0 20px;
}

/* header */
header {
    background-color: var(--color-green-cyan);
    text-align: center;
    color: var(--color-white);
    padding: 150px 0;
}
header div p {
    font-size: larger;
}
header div img {
    width: 15rem;
}
header div div img {
    width: 3.5rem;
    vertical-align: middle;
}

header .testing img::after {
    content: "";
    width: 100%;
    background-color: var(--color-white);
    height: 5px;
    display: inline-block;
}

main {
    width: 100%;
    margin: 0 auto;
}
main .container {
    width: 80%;
    margin: 70px auto;
    background-color: var(--color-white);
    text-align: center;
}
main .portforlio-row {
    display: flex;
    flex-wrap: wrap;
}
main .portforlio-row .column {
    box-sizing: border-box;
}
main .portforlio-row .column .image-flex {
    cursor: pointer;
    position: relative;
    display: block;
    max-width: 25rem;
    border-radius: 0.5rem;
    overflow: hidden;
}
main .portforlio-row .column .image-flex .image-cover-background {
    background-color: rgba(26, 188, 156, 0.9);
}
main .portforlio-row .column .image-flex .image-cover-plus {
    position: absolute; 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    /* opacity: 0; */
}
main .portforlio-row .column .image-flex img {
    max-width: 100%;
}

main .about {
    text-align: center;
    background-color: var(--color-green-cyan);
    color: var(--color-white);
    padding: 50px 0;
}
main .about .content {
    margin: 10px auto;
    font-size: 20px;
    display: flex;
    width: 60%
}
main .about .content p {
    text-align: left;
    padding: 0 2rem;
    line-height: 1.5;
    margin-top: 2rem;
}
main .about button {
    margin-top: 20px;
    border: 2px solid var(--color-white);
    width: 200px;
    height: 70px;
    background-color: var(--color-green-cyan);
    border-radius: 8px;
    color: var(--color-white);
    font-size: 20px;
}
/* Contact Form */
main .contact-me {  
    margin: 2.5rem auto;
    background-color: var(--color-white);
    text-align: center;
}
main .contact-me .form-detail {
    margin: 10px auto;
    width: 60%;
    text-align: left;
}
main .contact-me .form-detail .form-contact{
    margin: 0 20px;
}
main .contact-me .form-detail .form-contact .control-group:not(.control-group:last-child) {
    border-bottom: 1px solid var(--color-light-blue);
}
main .contact-me .form-detail .form-contact .control-group label {
    opacity: 0
}
main .contact-me .form-detail .form-contact .control-group input {
    display: block;
    border: none;
    width: 100%;    
    font-size: 18px;
    padding-bottom: 2rem;
}
main .contact-me .form-detail .form-contact .control-group input:focus,
main .contact-me .form-detail .form-contact .control-group textarea:focus {
    outline: none;
}
main .contact-me .form-detail .form-contact .control-group textarea {
    display: block;
    border: none;
    width: 100%;
    font-size: 18px;
    padding-bottom: 2rem;
}
main .contact-me button {
    margin-top: 30px;
    border: 2px solid var(--color-white);
    width: 110px;
    height: 70px;
    background-color: var(--color-green-cyan);
    border-radius: 8px;
    color: var(--color-white);
    font-size: 20px;
    cursor: pointer;
}

footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: var(--color-madison);
    color: var(--color-white);
}
footer .container {
    width: 80%;
    margin: 0 auto;
}
footer .container .row {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-left: 7rem;
    margin-right: 7rem
}
footer .container .row div {
    width: 30%
}
footer .container .row h4 {
    margin-top: 30px;
    margin-bottom: 15px;
}
footer .container p {
    font-size: 20px;
}
footer .container .icon img {
    width: 40px;
    border-radius: 100%;
    padding: 2px;
    background-color: var(--color-white);
    margin: 3px;
}
.copyright {
    height: 100px;
    width: 100%;
    background-color: var(--color-cyan-blue);
    position: relative;
}
.copyright .container {
    color: var(--color-white);
    text-align: center;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: 20px;
}

/* Modal */
.modal-container {
    background-color: black;
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    height: 100vh;
    opacity: 0.5;
}
.open-modal {
    height: 100vh;
    overflow: hidden;
}
.modal-portfolio {
    display: none;
    height: calc(100% - 40px);
    width: 70%;
    margin: 0 auto;
    background-color: whitesmoke;
    text-align: center;
    border-radius: 13px;
    position: fixed;
    top: 20px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    overflow-y: auto;
}
.hidden {
    display: none;
}
.display-block {
    display: block;
}
.modal-portfolio .btn-cross {
    position: absolute;
    right: 20px;
    top: 20px;
    border: none;
    width: 30px;
}
.modal-portfolio .btn-cross img {
    width: 100%;
}
.modal-portfolio h2 {
    padding-top: 3%;
}
.modal-portfolio .image-flex,
.modal-portfolio p  {
    width: 70%;
    margin: 20px auto;
}
.modal-portfolio .image-flex {
    border-radius: 13px;
    cursor: pointer;
}
.modal-portfolio p {
    font-size: 20px;
}
.modal-portfolio .btn-close {
    border: 2px solid var(--color-white);
    width: auto;
    height: 60px;
    background-color: var(--color-green-cyan);
    border-radius: 8px;
    color: var(--color-white);
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    outline: none;
    margin-bottom: 20px;
}
.back-to-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 10px;
    opacity: 0.5;
    background-color: cornflowerblue;
}
.on-top {
    top: 0
}

/* collapse section */
#accordion {
    width: 80%;
}
#accordion .card {
    margin: 20px auto;
    width: 60%;
}
#accordion .card h2,
#accordion .card .card-body {
    padding: 2px;
}
#accordion .card h2 {
    text-transform: capitalize;
    cursor: pointer;
}
#accordion .card .collapse {
    /* display: none; */
    height: 0;
    transition: height .5s;
    overflow: hidden;
}

#accordion .card .collapse.show {
    height: auto;
}

/* Tabs */
#tabs .container {
    margin: 0 auto;
}
#tabs .tab-section .tab-nav .nav-item {
    display: inline-block;
    margin: 5px 20px;
    opacity: 0.5;
}
#tabs .tab-section .tab-nav .nav-item.active {
    opacity: 1;
}
#tabs .tab-section .tab-nav .nav-item button {
    padding: 15px;
    border-radius: 13px;
    background-color: aquamarine;
    border: 1px solit antiquewhite;
    margin-top: 10px;
}
#tabs .tab-section .tab-nav .nav-item:active button {
    background-color: pink;
}

#tabs .tab-section .tab-content .tab-pane {
    display: block;
    height: 0;
    overflow: hidden;
    text-align: left;
    margin: 10px;
}
#tabs .tab-section .tab-content .show {
    height: auto;
}
/* Reponsive */
@media (max-width: 1367px) {
    nav .container {
        width: auto;
        height: 100%;
    }
    nav .container h2 {
        display: inline-block;
    }
    nav .container ul {
        display: none;
    }
    nav .container button {
        display: inline-block;
        margin-right: 20px;
        border-radius: 0.5rem;
        color: var(--color-white);
        background-color: var(--color-green);
        font-weight: 700;
        padding: 10px 20px;
        border: none;
        text-decoration: none;
    }
    header, main {
        width: 100%;
    }
    main .container .images-flex img {
        width: 45%;
    }
    main .about .content {
        display: block;
        width: auto;
    }
    main .contact-me .form-detail {
        width: auto;
    }
    footer .container .row {
        display: block;
        margin: 0 auto;
    }
    footer .container .row div {
        width: auto;
    }
}
@media (max-width: 767px)  {
    header .container {
        width: 90%;
        margin: 0 auto;
    }
    /* nav .container h2 {
        font-size: 20px;
    } */
    nav .container button {
        background-color: red;
    }
    main .container .images-flex img {
        width: 100%;
    }
    .modal-portfolio .modal-header {
        margin-top: 30px;
    }
    .modal-portfolio .btn-cross {
        width: 20px;
        right: 10px;
        top: 10px;
    }
}