.count-down-clock-section {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00FFCC;
    position: relative;
}
.count-down-clock-section h2 {
    position: absolute;
    top: 15%;
    color: #2b7e7e;
}
.count-down-clock-section .timer {
    width: 90px;
    margin: 0 10px;
    padding: 20px 5px;
    text-align: center;
    color: white;
    background-color: #339999;    
    border-radius: 3px;
    cursor: pointer;
}
.timer span {
    color: white;
    font-size: 50px;
    padding: 5px;
    background-color: #336699;
    border-radius: 3px;
}
.timer h4 {
    padding: 10px;
    font-size: 1em;
}