* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
:root {
    --color-violet: #9A2EFE;
    --color-indigo: #7B68EE;
    --color-white: #fff;
    --color-pink: pink;
}
.section-todo {
    background-color: var(--color-violet);
    height: 330px;
} 
.section-todo h2 {
    padding: 5px;
    color: var(--color-pink);
    text-align: center;
}
.section-todo  .form-add, 
.section-todo  .form-item-list {
    width: 60%;
    margin: 1em auto;
    background-color: var(--color-white);
    border-radius: 5px;
}
.section-todo  .form-add {
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.section-todo  .form-add input,
.section-todo  .form-add button,
.section-todo  .form-item-list .group button {
    border: 1px solid var(--color-violet);
    border-radius: 5px;
}
.section-todo  .form-add input:focus {
    outline-color: var(--color-indigo);
}

.section-todo  .form-add input {
    width: 70%;
    height: 3em;
    padding-left: 10px;
}
.section-todo  .form-add button {
    width: 20%;
    height: 3.3em;
    padding: 2px;
    color: var(--color-white);
    background-color: var(--color-indigo);
    cursor: pointer;
}
.section-todo  .form-item-list {
    height: 10em;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.section-todo  .form-item-list .group {
    margin: 0.5em auto;
    width: 95%;
    border-bottom: 1px solid var(--color-violet);
    list-style-type: none;
    padding-left: 10px;
}
.section-todo  .form-item-list .group button {
   width: 5%;
   float: right;
   clear: both;
   color: var(--color-white);
   background-color: var(--color-indigo);
   padding: 5px;
   margin-bottom: 0.5em;
   margin-right: 5px;
   cursor: pointer;
}

/* Reponsive */
@media (max-width: 1367px) {

}
@media (max-width: 767px)  {

}
@media (max-width: 640px) {
    .section-todo .form-add, 
    .section-todo .form-item-list {
        width: 90%;
    }
    .section-todo .form-add input,
    .section-todo .form-add button {
        margin-left: 0.5em;
        margin-right: 0.8em;
    }
    .section-todo .form-item-list .group {
        width: 90%;
    }
    .section-todo .form-item-list .group button {
        width: 15%;
     }
}